*
!*/

!README.md
!ZADANI.md
!ivh_projekt.xise

# Podúloha 1
!effects_pack.vhd
!effects_pack_tb.vhd

# Podúloha 2
!counter.vhd
!counter_tb.vhd

# Konečná úloha
!fpga_inst.vhd
!column.vhd
!fsm.vhd
!rom.vhd
!column_tb.vhd
!fsm_tb.vhd
!rom_tb.vhd
