*
!*/

!README.md
!ZADANI.md
!ivh_projekt.xise

# Podúloha 1
!effects_pack.vhd
!effects_pack_tb.vhd

# Podúloha 2
!counter.vhd
!counter_tb.vhd

# Konečná úloha - kostra (read-only)
!fpga.vhd
!fpga_inst.vhd
!tlv_gp_ifc.vhd
!clkgen.vhd
!clkgen_config.vhd

# Konečná úloha - implementácia
!column.vhd
!column_tb.vhd
!fsm.vhd
!fsm_tb.vhd
!rom.vhd
